input[type=text] {
  text-align:right;
}

[class*="col-"] {
  background-color: none;
}

.form-check-input {
  position: relative;
  margin-left: 0;
}

#idcomercio {
  display: inline;
  width: 50%;
}